@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gugi', cursive;
  background: #d3cce3;
  background: linear-gradient(to right, #e9e4f0, #d3cce3);
}
